# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache
__pycache__/

# Ignore Python virtual environments
venv/

# Ignore files and folders
data_source/
database/
logs/

# Ignore config files
config.py

# Ignore output folders
RAGAs/output/
ui_pm_output/
