# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache
__pycache__/

# Ignore Python virtual environments
venv/

# Ignore files and folders
data_source/
database/
logs/

# Ignore config files
config.py
github_setup_README.md
main/app_pm.py

# Ignore output folders
code/
RAGAs/
ui_pm_output/
