# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache
__pycache__/

# Ignore Python virtual environments
venv/

# Ignore files and folders
# data_source/ # Un-comment after the cloning of the github repository for the first time
database/
logs/

# Ignore config files
config.py